<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ChatterBox</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="app-box">
            <div class="header">
                <div id="head-title">ChatterBox</div>

            </div>
            <div class="chat-box">
                <div class="chat bot">
                    <span>Hi there, I am a friendly AI assitant ask me anything</span>
                </div>
                


            </div>
            <div class="input-box">
                <input type="text"  placeholder="Type message here..." autocomplete="off" autofocus="autofocus" id="text-input">
                <button onclick ="sendMessage()">
                    <div class="circle">
                        <i class="zmdi zmdi-mail-send"></i>
                    </div>
                </button>
                

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>